body { 
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
     background: rgba(212, 225, 197, 0.7);
     margin-left: 300px;
     margin-right: 300px;
     border-radius: 25px;
     padding-bottom: 20px;  
}


h1 {
    font-size: 4em;
    margin-left: 20px;
    border-bottom: 8px solid #315159 ;
    display: inline-block;
}

h1, h2, h3 {
    color: #315159 ; 
}

h2, h3 {
    font-size: 2em;
    text-align: center;
    border-bottom: 4px solid #315159 ;
    display: inherit;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    color: #315159;
    font-size: 1,1em;
    
}

.summary, .preamble, .explanation, .participation, .benefits, .requirements, .design-selection, .design-archives, .zen-resources {
    background: rgba(104, 216, 166, 0.70);
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px; 
    padding-bottom: 20px;
    padding-top: 10px; 
}

abbr {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }

a {
    color: #315159;
}

footer {
    margin-left: 20px;
}